@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --deep-yellow: rgb(255, 196, 0);
    --deeper-yellow: rgb(255, 215, 0);
    --deep-white: rgb(243, 243, 243);;
    --deep-grey: rgb(187, 187, 187);
}

/* GLOBAL STYLING */
/* ESTILACION GLOBAL */
html body  {
    padding: 0;
    margin: 0;
    background-color: green;
    background-image: url('img/hero-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial';
    font-size: 12px;
}

h2 {
    font-size: 3.3em;
    font-family: 'Raleway', sans-serif;
    color: var(--deep-grey);
    letter-spacing: 0.09em;
    margin: 0;
}

h2:after {
	content: ' ';
	width: 120px;
	height: 10px;
	display: block;
	margin: 15px auto;
    background-color: var(--deep-yellow);
}

h3 {
    font-size: 1.8em;
}


/* ESPACIO GENERICO TRANSPARENTE - SEPARADOR ENTRE SECCIONES  */
.blanck-space-section {
    display: flex;
    justify-content: center;
    height: 60vh;
    margin-top: -5.1em; /* EXTRA MARGIN TO ADJUST YELLOW CHEVRON */
}

/* SEPARADOR CEVRON AMARILLO (FLECHA) DE FONT AWESOME */
.fa-chevron-down {
    font-size: 5em;
    color: var(--deeper-yellow);
}

/* SPECIFIC STYLING*/
/* ESTILACION PARTICULAR EN ORDEN DE APARICION */
header {
    background-color: var(--deeper-yellow);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    margin-top: 5em;
    padding: 1em 1.5em;
    font-size: 1.8em;
    z-index: 1;
}

header span {
    font-weight: 600;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.hero-section h1 {
    background-color: red;
    font-size: 3.8em;
    letter-spacing: 0.1em;
    line-height: 0.3em;

}

.hero-section span {
    background-color: blue;
    font-weight: 300;
}


.about-areas-section {
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column wrap;
    padding-bottom: 7em; /* EXTRA PADDING TO ADJUST YELLOW CHEVRON */
    
    margin: 0;
}

.about-areas-section h2 {
    padding-top: 2em;
    padding-bottom: 0;
    margin: 1em;
}


.about-article {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 70vh;
    padding-bottom: 7em; /* EXTRA PADDING TO ADJUST YELLOW CHEVRON */
}

.about-grids {
    background-color: red;
    width: 23%;
    margin: 0.5em;
    padding: 0.5em;
}

.about-grids img {
    width: 100%;
}

.about-grids p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    text-align: justify;
    width: 88%;
    margin: auto;
    line-height: 1.4em;
}

.timeline-section {
    background-image: url('img/us-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 130vh;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.timeline-article {
    background-color: white;
    width: 38%;
    /* height: 78vh; */
    margin: 18em 4em auto auto;
    text-align: center;
    padding-bottom: 4em;
}

.timeline-article h2 {
    margin: 1.1em auto 1.1em 1.5em;
    text-align: left;
}

.timeline-article h2:after {
    margin-left: 0; /* Ajusta el recuadro amarillo del H2 para que quede bajo el H2*/
}


.timeline-article p {
    background-color: red;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.18em;
    font-weight: 200;
    margin: 1.5em;
    padding-left: 3.3em;
    padding-right: 5em;
    line-height: 1.8em;
}

.timeline-graph-section {
    background-color: var(--deeper-yellow);
    font-family: 'Rubik', sans-serif;
    

}



.timeline-graphs {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    text-align: center;
    align-items: center;


}

.timeline-graphs.isVisible {
    /* funciona en conjunto del intersectionObserver del JavaScript*/
    /* la clase .isVisible se agregará a los elementos que usen la clase .timeline-graph cuando entran al viewport*/
    /* con esto hacemos que esta animaión se active siempre que haya intersección de .timeline-graphs con el viewport */
    animation-name: fadeIn; /* @keyframes fadeIn */
    animation-duration: 2.5s; /* @keyframes fadeIn */
    animation-fill-mode: both; /* @keyframes fadeIn */
}

@keyframes fadeIn {

	0% {
	opacity: 0;
    
    background-color: blue;
	-webkit-transform: translate3d(0,40%,0);
	transform: translate3d(0,40%,0);
	}

	100% {
	opacity: 1;
    transform: translate(0, 0);
    background-color: blue;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
}

.timeline-grids {
    background-color: blue;
    padding-right: 5em;
    padding-left: 5em;
    margin: 7em 5em;
    
    
}

.white-column {
    background-color: white;
    width: 2px;
    height: 70px;
}


.timeline-title {
    color: white;
    font-size: 4.5em;
    margin: 0;
    padding: 0;
    padding-bottom: 0.1em;

}


.timeline-grids span {
    font-size: 1.8em;
    margin: 0;
    padding: 0;
}

.projects {
    background: white;
    width: 100%;;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    color: black;
}

.projects h2 {
    margin-top: 3em;
}

#legend {
    display: flex;
    flex-flow: column wrap;
    background-color: green;
}

#legend ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: red;
}

#legend li {
    padding: 1.5em;
    font-size: 1.3em;
}

#legend span {
    font-weight: 600;
}

.projects-grid {
    background-color: purple;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
}

.projects-pics {
    padding: 1.2em;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    margin: 1em;
    /* transition: all 0.5s ease; */
}

.projects-pics::before {
    /* Establece el cuadro de texto (sin texto) para todos los elementos con la clase .projects-pics */
    content: ' ';
    display: flex;
    background-color: black;
    width: 25%;
    height: 50px;
    margin-bottom: -50px;
    margin-left: 65%;
    position: relative;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.1em;
}

#pr-pic-1::before {
    /* Establece el texto para el ::before para este ID */
    /* Este texto se agrega sobre el cuadro creado por el ::before ya creado para .projects-pics que es quien estiliza ese recuadro */
    content: 'A + GI + GC';
}

#pr-pic-2::before {
    /* Establece el texto para el ::before para este ID */
    /* Este texto se agrega sobre el cuadro creado por el ::before ya creado para .projects-pics que es quien estiliza ese recuadro */
    content: 'GI + GC';
}

#pr-pic-3::before {
    /* Establece el texto para el ::before para este ID */
    /* Este texto se agrega sobre el cuadro creado por el ::before ya creado para .projects-pics que es quien estiliza ese recuadro */
    content: 'A + GI + GC';
}

#pr-pic-4::before {
    /* Establece el texto para el ::before para este ID */
    /* Este texto se agrega sobre el cuadro creado por el ::before ya creado para .projects-pics que es quien estiliza ese recuadro */
    content: 'GC';
}



#pr-pic-1 {
    margin: 2em;
    width: 400px;
    height: 250px;
    overflow: hidden; /* overflow de la tarjeta con frostglass en relación a la imágen principal*/
    background-image: url(img/pr-1.jpg);
    background-size: cover;
  }
  
  #pr-info-1 {
    position: flex;
    width: 110%;
    height: 150%;
    background-color: #fff; /* color del frostglass - container de info */
    transform: translateY(100%)
      translateY(10%) /* saca del frame a la imágen de #pr-info-1:before - Debe ser el opuesto (+/-) del translateY de :before */
      translateZ(0);
    transition: transform 0.5s ease-out;
    margin-left: -5%;
    margin-top:-16%;

  }
  
  #pr-info-1:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' '; /* necesario para que exista la imágen de fondo del frost glass - pseudo-elemento :before */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(img/pr-1.jpg); /* imágen de fondo del frost glass */
    filter: blur(0px);
    background-size: contain;
    opacity: 0.1;
    transform: translateY(-100%)
      translateY(-10%)  /* saca del frame al frostglass de #pr-info-1 - Debe ser el opuesto (+/-) del translateY del frostglass */
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  #pr-pic-1:hover #pr-info-1,
  #pr-pic-1:hover #pr-info-1:before {
    transform: translateY(0) translateZ(0);
  }
  
  .title {
    margin: 0;
    padding: 1em;
    font-size: 3em;
    line-height: 1;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .description {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 1em;
    line-height: 1.5;
  }










/* #pr-pic-1 {
    background-image: linear-gradient(75deg, rgba(255, 255, 255, 0) 100%, rgba(255,255,255,0) 0%), url(img/pr-1.jpg);
    
} */


#pr-pic-2 {
    background-image: url(img/pr-2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    margin: 1em;
}

#pr-pic-3 {
    background-image: url(img/pr-3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    margin: 1em;
}

#pr-pic-4 {
    background-image: url(img/pr-4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    margin: 1em;
}